### Node ###
# Dependency directory
node_modules
npm-debug.log
.npm

### Test ###
mocha.json

### WebStorm ###
.idea/

### Visual Studio Code ###
.vscode

### Coverage ###
/coverage/

### SublimeText ###
# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace

