header {
	padding-top: 10px;
  background: #26a69a;
  border-bottom: 4px solid #eaeaea;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
}
.pane-title {
	margin-bottom: 10px;
}
.page-header {
	text-align: center;
	font-size: 40px;
	font-weight: 300;
	color: #fff;
	-webkit-font-smoothing: antialiased;
}
.page-container {
	min-height: 100vh;
}
footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  z-index: 100;
}
.message-box {
	text-align: center;
	line-height: 2rem;
  font-size: 1.25rem;
}
.row {
	margin-bottom: 10px;
}
.col {
	display: inline-block;
	box-sizing: border-box;
}
.left-pane, .right-pane {
	margin: 5%;
	float: left;
	width: 40%;
	box-sizing: border-box;
}
.center-pane {
	margin: 3% 0%;
}
.btn.upload-btn {
	float: none;
  padding: 0px 30px;
  font-size: 20px;
  white-space: nowrap;
  font-weight: 300;
  text-transform: capitalize;
}
.display-img {
  /* max-width: 90%; */
  object-fit: contain;
}
.input-image {
  margin: 30px 20px;
}
.face {
  position: absolute;
  border: 1px solid yellow;
  background: yellow;
  opacity: 0.5;
}
.eye {
  position: absolute;
  border: 1px solid red;
  background: red;
  opacity: 0.3;
}
.mouth {
  position: absolute;
  border: 1px solid blue;
  background: blue;
  opacity: 0.3;
}